In [1]:
#Installing Selenium

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\maahi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\maahi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\maahi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\maahi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\maahi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: idna in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\maahi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\maahi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\maahi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\maahi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
#importing the required libraries

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Program1

In [3]:
#Creating the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
#Opening the desired page
driver.get("https://www.naukri.com/")

In [7]:
#Entering Designation and Location as provided and then searching for it

In [5]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys("Data Analyst")

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Banglore")

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [11]:
#Creating the fields required

In [8]:
job_titles=[]
job_locations=[]
company_names=[]
experience_required=[]

In [10]:
#scrapping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_titles.append(title)
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst II',
 'Project Data Analyst',
 'Data Analyst, Business Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [11]:
len(job_titles)

10

In [12]:
#scrapping job loc from given page
loc_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    loc=i.text
    job_locations.append(loc)
job_locations

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(HSR Layout +1)',
 'Temp. WFH - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [13]:
len(job_locations)

10

In [14]:
#scrapping company name from given page
com_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    com=i.text
    company_names.append(com) 
company_names

['Shell Pvt Ltd',
 'Shell Pvt Ltd',
 'Shell Pvt Ltd',
 'Flipkart',
 'WSP',
 'Clinilaunch Research Institute Llp',
 'Treebo Hotels',
 'Flipkart',
 'Cargill',
 'Eli Lilly And Company']

In [15]:
len(company_names)

10

In [16]:
#scrapping experience required for given page
exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in exp_tag[0:10]:
    exp=i.text
    experience_required.append(exp)
experience_required

['2-5 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs',
 '0-4 Yrs',
 '0-5 Yrs',
 '1-5 Yrs',
 '1-5 Yrs',
 '2-4 Yrs',
 '2-6 Yrs']

In [17]:
len(experience_required)

10

In [18]:
#creating the data frame
df=pd.DataFrame({'JobTitle':job_titles,'JobLocation':job_locations,'CompanyName':company_names,'ExpierenceRequired':experience_required})
print("Jobs for Data Analyst in Banglore")
df

Jobs for Data Analyst in Banglore

,JobTitle,JobLocation,CompanyName,ExpierenceRequired
0,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
3,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
4,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
5,"Data Analyst, Business Analyst",Bangalore/Bengaluru(HSR Layout +1),Clinilaunch Research Institute Llp,0-5 Yrs
6,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
7,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Cargill,2-4 Yrs
9,Data Analyst,Bangalore/Bengaluru,Eli Lilly And Company,2-6 Yrs

# Program2

In [19]:
#Creating the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [20]:
#requesting the desired page
driver.get("https://www.naukri.com/")

In [21]:
#Providing the designation details
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys("Data Scientist")

In [22]:
#providing location details
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Banglore")

In [23]:
#start searching
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [24]:
#creating the required fields
job_tit=[]
job_loc=[]
comp_name=[]
exp_required=[]

In [25]:
#scrapping job title
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    tit=i.text
    job_tit.append(tit)
job_tit

['Analystics & Modeling Specialist',
 'Data Scientist',
 'Data Scientist',
 'Data & Analytics Lead, Geo Analytics - GAMMA',
 'Weather and Climate Data Scientist',
 'Data Scientist',
 'Data Scientist - II',
 'Senior Data Scientist',
 'Manager-Data Science',
 'ACN - Applied Intelligence - Data Scientist - 09']

In [26]:
#scrapping location 
loc_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tag[0:10]:
    locn=i.text
    job_loc.append(locn)
job_loc

['Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'New Delhi, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Nagpur, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'India, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [27]:
#scrapping company name
com_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tag[0:10]:
    comp=i.text
    comp_name.append(comp) 
comp_name

['Accenture',
 'Tata Nexarc',
 'Tech Mahindra',
 'Boston Consulting Group',
 'Shell Pvt Ltd',
 'Mindtree',
 'Bizongo',
 'Baker Hughes',
 'AMERICAN EXPRESS',
 'Accenture']

In [28]:
#scrapping experience required
expp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in expp_tag[0:10]:
    expp=i.text
    exp_required.append(expp)
exp_required

['6-8 Yrs',
 '4-8 Yrs',
 '5-8 Yrs',
 '7-10 Yrs',
 '5-12 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '3-4 Yrs',
 '2-6 Yrs']

In [29]:
print(len(job_tit),len(job_loc),len(comp_name),len(exp_required))

10 10 10 10

In [30]:
#creating df
df2=pd.DataFrame({'JobTitle':job_tit,'JobLocation':job_loc,'CompanyName':comp_name,'ExpierenceRequired':exp_required})
print("Jobs for Data Scientist in Banglore")
df2

Jobs for Data Scientist in Banglore

,JobTitle,JobLocation,CompanyName,ExpierenceRequired
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
1,Data Scientist,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",Tata Nexarc,4-8 Yrs
2,Data Scientist,"Nagpur, Pune, Bangalore/Bengaluru",Tech Mahindra,5-8 Yrs
3,"Data & Analytics Lead, Geo Analytics - GAMMA",Bangalore/Bengaluru,Boston Consulting Group,7-10 Yrs
4,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd,5-12 Yrs
5,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
6,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Bizongo,3-6 Yrs
7,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes,6-8 Yrs
8,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
9,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs

# Program3

In [31]:
#Connecting the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [32]:
#Opening the desired page
driver.get("https://www.naukri.com/")

In [33]:
#Providing the designation details
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
designation.send_keys("Data Scientist")

In [34]:
#start searching
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [35]:
#creating the required fields
job_tit3=[]
job_loc3=[]
comp_name3=[]
exp_required3=[]

In [36]:
#scrapping job title
tit_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in tit_tag[0:10]:
    tit3=i.text
    job_tit3.append(tit3)
job_tit3

['Data Scientist',
 'Analystics & Modeling Specialist',
 'Data Scientist',
 'Data & Analytics Lead, Geo Analytics - GAMMA',
 'Weather and Climate Data Scientist',
 'Data Scientist',
 'Data Scientist - II',
 'Senior Data Scientist',
 'Manager-Data Science',
 'ACN - Applied Intelligence - Data Scientist - 09']

In [37]:
#scrapping location 
loc_tag3=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tag3[0:10]:
    locn3=i.text
    job_loc3.append(locn3)
job_loc3

['Nagpur, Pune, Bangalore/Bengaluru',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'New Delhi, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'India, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [38]:
#scrapping company name
com_tag3=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tag3[0:10]:
    comp3=i.text
    comp_name3.append(comp3) 
comp_name3

['Tech Mahindra',
 'Accenture',
 'Tata Nexarc',
 'Boston Consulting Group',
 'Shell Pvt Ltd',
 'Mindtree',
 'Bizongo',
 'Baker Hughes',
 'AMERICAN EXPRESS',
 'Accenture']

In [39]:
#scrapping experience required
expp_tag3=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in expp_tag3[0:10]:
    expp3=i.text
    exp_required3.append(expp3)
exp_required3

['5-8 Yrs',
 '6-8 Yrs',
 '4-8 Yrs',
 '7-10 Yrs',
 '5-12 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '6-8 Yrs',
 '3-4 Yrs',
 '2-6 Yrs']

In [40]:
#creating df
df3=pd.DataFrame({'JobTitle':job_tit3,'JobLocation':job_loc3,'CompanyName':comp_name3,'ExpierenceRequired':exp_required3})
print("Jobs for Data Scientist in Delhi/NCR with salary 3-6 lakhs ")
df3

Jobs for Data Scientist in Delhi/NCR with salary 3-6 lakhs

,JobTitle,JobLocation,CompanyName,ExpierenceRequired
0,Data Scientist,"Nagpur, Pune, Bangalore/Bengaluru",Tech Mahindra,5-8 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
2,Data Scientist,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",Tata Nexarc,4-8 Yrs
3,"Data & Analytics Lead, Geo Analytics - GAMMA",Bangalore/Bengaluru,Boston Consulting Group,7-10 Yrs
4,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd,5-12 Yrs
5,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree,5-10 Yrs
6,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Bizongo,3-6 Yrs
7,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes,6-8 Yrs
8,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS,3-4 Yrs
9,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture,2-6 Yrs

# Program4

In [41]:
#Connecting the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [42]:
#requesting the desired page
driver.get("https://www.flipkart.com/")

In [43]:
#Filling the search field with sunglasses
category=driver.find_element(By.CLASS_NAME,"_3704LK")
category.send_keys("sunglasses")

In [46]:
#Clicking the submit button
submit=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
submit.click()

In [47]:
#Creating the attribute fields
brand=[]
p_desc=[]
price=[]
discount=[]

In [ ]:
#Since we want 100 sunglasses infor, we have to scrap 3 pages, Thus going through range(0:3)

In [48]:
for j in range(0,3):
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag[0:100]:
        bran=i.text
        brand.append(bran)
    p_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in p_tag[0:100]:
        desc=i.text
        p_desc.append(desc)
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag[0:100]:
        pr=i.text
        price.append(pr)
    dis_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in dis_tag[0:100]:
        dis=i.text
        discount.append(dis)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)
print("Information Scrapped")

Information Scrapped

In [49]:
print(len(brand[:100]),len(p_desc[:100]),len(price[:100]),len(discount[:100]))

100 100 100 100

In [100]:
#creating data frame

In [50]:
df4=pd.DataFrame({'Brand':brand[:100],'Product Description':p_desc[:100],'Price':price[:100],'Dicount':discount[:100]})
print("List of top 100 Sunglasses on Flipkart")
df4

List of top 100 Sunglasses on Flipkart

,Brand,Product Description,Price,Dicount
0,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹549,72% off
1,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹278,81% off
2,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129,87% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹489,38% off
4,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
...,...,...,...,...
95,Elligator,UV Protection Round Sunglasses (53),₹149,85% off
96,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹699,65% off
97,hayden haiza,"Polarized, UV Protection Aviator Sunglasses (55)",₹413,83% off
98,Elligator,UV Protection Round Sunglasses (54),₹286,88% off
99,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,90% off

# Program5

In [51]:
#Connecting the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [52]:
#requesting the desired page
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [53]:
#Creating the attribute list
rating=[]
review=[]
rev_summary=[]

In [54]:
#Since we want top 100 reviews, we have to scrap 10 pages
for j in range(0,10):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag[0:100]:
        rate=i.text
        rating.append(rate)
    review_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in review_tag[0:100]:
        rev=i.text
        review.append(rev)
    summary_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in summary_tag[0:100]:
        sum=i.text
        rev_summary.append(sum)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)
print("Information Scrapped")

Information Scrapped

In [55]:
print(len(rating),len(review),len(rev_summary))

100 100 100

In [56]:
#Creating data frame
df5=pd.DataFrame({'Rating':rating,'Review':review,'Review Summary':rev_summary})
print("Top 100 Reviews for iPhone11 from Flipkart")
df5

Top 100 Reviews for iPhone11 from Flipkart

   Rating Review                                     Review Summary
0       5      5  Really satisfied with the Product I received.....
1       5      5  Amazing phone with great cameras and better ba...
2       5      5  Great iPhone very snappy experience as apple k...
3       4      4  I'm Really happy with the product\nDelivery wa...
4       5      5  Previously I was using one plus 3t it was a gr...
..    ...    ...                                                ...
95      5      5  Value for money❤️❤️\nIts awesome mobile phone ...
96      5      5  iphone 11 is a very good phone to buy only if ...
97      5      5  It is just awesome mobile for this price from ...
98      4      4  Just got this iphone 11\nAnd it is most powerf...
99      5      5  Amazing camera quality as expected, battery al...

[100 rows x 3 columns]

# Program6

In [57]:
#Connecting the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [58]:
#requesting the desired page
driver.get("https://www.flipkart.com/")

In [59]:
#Filling the search field with sneakers
categ=driver.find_element(By.CLASS_NAME,"_3704LK")
categ.send_keys("sneakers")

In [62]:
#Clicking the submit button
submit=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
submit.click()

In [63]:
#Creating the attribute fields
brands=[]
pr_desc=[]
prices=[]
discounts=[]

In [ ]:
#Scrapping information from 3 pages, as we want top 100 and we have only 40 in 1 page

In [64]:
for j in range(0,3):
    br_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in br_tag[0:100]:
        br=i.text
        brands.append(br)
    pr_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pr_tag[0:100]:
        descs=i.text
        pr_desc.append(descs)
    prices_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices_tag[0:100]:
        prs=i.text
        prices.append(prs)
    di_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in di_tag[0:100]:
        di=i.text
        discounts.append(di)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)
print("Information Scrapped")

Information Scrapped

In [65]:
print(len(brands[:100]),len(pr_desc[:100]),len(prices[:100]),len(discounts[:100]))

100 100 100 100

In [66]:
#Creating Data Frame
df6=pd.DataFrame({'Brand':brands[:100],'Product Description':pr_desc[:100],'Price':prices[:100],'Discount':discounts[:100]})
print("List of top 100 sneakers on Flipkart")
df6

List of top 100 sneakers on Flipkart

,Brand,Product Description,Price,Discount
0,RapidBox,Sneakers For Men,₹599,40% off
1,Bacan,Sneakers For Men,₹549,45% off
2,Labbin,Sneakers For Men,₹399,60% off
3,Shozie,Sneakers For Men,₹295,70% off
4,Kzaara,Sneakers For Men,₹229,77% off
...,...,...,...,...
95,World Wear Footwear,Fashionable Canvas Casual Partywear Outdoor Sn...,₹259,82% off
96,HOTSTYLE,Ivana Wn's Sneakers For Women,₹399,60% off
97,Shozie,High Top Sneakers For Men,₹629,37% off
98,Kraasa,Sneakers For Men,₹449,55% off
99,Deals4you,PLANCK Smart Red Lace-Ups Casuals Sneakers Sne...,₹299,70% off

# Program7

In [84]:
#Connecting the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [85]:
#Opening the desired page
driver.get("https://www.amazon.in/")

In [86]:
#Filling the search field with Laptop
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input" )
product.send_keys("Laptop")

In [87]:
#Clicking the submit button
submit=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
submit.click()

In [88]:
#Creating the attribute fields
titlel=[]
ratingsla=[]
pricel=[]

In [89]:
#Scrapping top 10 titles
tit_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in tit_tag[0:10]:
    tit=i.text
    titlel.append(tit)
titlel

['Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" FHD Thin & Light Laptop(8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Xbox Game Pass/Platinum Grey/1.7Kg), 81X800LGIN',
 'Lenovo IdeaPad Slim 1 AMD Ryzen 3 3250U 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/3months Game Pass/Cloud Grey/1.6Kg), 82R10049IN',
 'AVITA SATUS ULTIMUS S111 NU14A1INC43PN-SG 14.1 FHD (35.81cms) Laptop (Intel Celeron N4020/4GB/128GB SSD/FHD Display/Windows 11 Home/ Intel UHD Graphics), Space Grey',
 'Lenovo IdeaPad Slim 3 Intel Core i3 10th Gen 15.6" (39.62cm) FHD Thin & Light Laptop (8GB/1TB HDD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WB01E7IN',
 'Lenovo V15 Intel Celeron N4020 15.6" (39.62 cm) HD 220 nits Antiglare Thin and Light Laptop (4GB RAM/256GB SSD/DOS/Iron Grey/1.85 kg), 82C3A008IH',
 'Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" FHD Thin & Light Laptop(8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Xbox Game Pass/Platinum Grey/1.7Kg), 81X800LGIN',
 'HP 14s, Intel Celeron N4500, 8GB RAM/256GB SSD 14-inches/35.6 cm HD, Micro-Edge Display/Alexa Built-in/Windows 11/Intel UHD Graphics/Dual Speakers/ MSO 2021/1.46 Kg, 14s-dq3037tu',
 'Lenovo IdeaPad D330 Intel Celeron N4020 10.1" (25cm)HD IPS Detachable 2-in-1 Laptop (4GB/128GB eMMC/Windows 10/1 Yr Warranty/Mineral Grey/1.1Kg), 82H0001YIN',
 'Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch (35.56 cm) FHD IPS Anti-Glare Thin and Light Laptop (16GB/512GB PCIe SSD/Windows 11/Fingerprint Login/Metal Body/Backlit KB/1.38Kg), Gray, NobelM-WFQ9AHNE',
 '(Renewed) Dell Latitude E5470 Intel Core i5 6th Gen.6200u Processor 14.1 Inches HD Screen Notebook Computer (8 GB Ram & 256 GB SSD, Windows 10 Pro, 1.71Kg)']

In [90]:
#Scrapping top 10 ratings
rate_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rate_tags[0:10]:
    rates=i.text
    ratingsla.append(rates)
ratingsla

['4.1', '4.0', '3.3', '3.6', '2.6', '4.1', '4.1', '4.5', '4.4', '']

In [91]:
#Scrapping top 10 price
pr_tag=driver.find_elements(By.CLASS_NAME,"a-price-whole")
for i in pr_tag[0:10]:
    pr=i.text
    pricel.append(pr)
pricel

['38,490',
 '31,017',
 '19,999',
 '32,990',
 '19,990',
 '38,490',
 '59,990',
 '84,990',
 '56,490',
 '']

In [92]:
print(len(titlel),len(ratingsla),len(pricel))

10 10 10

In [82]:
#creating data frame
df7=pd.DataFrame({'Laptop Name':titlel,'Rating':ratingsla,'Price':pricel})
print("List of top 10 Laptops on Amazon with user ratings and peice")
df7

List of top 10 Laptops on Amazon with user ratings and peice

                                         Laptop Name Rating   Price
0  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...    4.1  38,490
1  Lenovo IdeaPad Slim 1 AMD Ryzen 3 3250U 15.6" ...    4.0  31,017
2  (Renewed) Dell Latitude E5470 Intel Core i5 6t...    3.6  18,949
3  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...    3.7  27,127
4  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...    3.9  25,990
5  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...    4.1  38,490
6  HP 15s, AMD Athlon Silver 3050U 8GB RAM/512GB ...    4.1  59,990
7  HP 15s-Ryzen 3 3250U 8GB SDRAM/256GB SSD 15.6i...    4.5  84,990
8  Lenovo V15 Intel Celeron N4020 15.6" (39.62 cm...    4.4  56,490
9  AVITA SATUS ULTIMUS S111 NU14A1INC43PN-SG 14.1...

# Program 8

In [450]:
#connecting the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [451]:
#Opening the desired page
driver.get("https://www.azquotes.com/")

In [452]:
#Clicking on TOP QUOTES
top_quote=driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]').click()

In [453]:
#Creating the attributes field
quote=[]
author=[]
types=[]

In [140]:
#Searching 10 pages, since we want info about 1000 quotes and per page there are only 100 quotes

In [455]:
for j in range(0,10): #Not included the 10th page as its throwing exception
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        quo=i.text
        quote.append(quo)
    author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        auth=i.text
        author.append(auth)
    type_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tag:
        tp=i.text
        types.append(tp)
    try:
        next_button=driver.find_element(By.XPATH,'//li[@class="next"]//a')
        next_button.click()
    except NoSuchElementException:
        pass
print("Information Scrapped")

Information Scrapped

In [456]:
print(len(quote),len(author),len(types))

1000 1000 1000

In [457]:
#Craeting Data Frame for top 1000 quotes
df8=pd.DataFrame({'Quotes':quote,'Authors':author,'Type of Quotes':types})
print("Top 1000 Quotes of All Time")
df8

Top 1000 Quotes of All Time

,Quotes,Authors,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Program 9

In [213]:
#connecting the driver
driver1=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [214]:
#Opening the desired page
driver1.get("https://www.jagranjosh.com/")

In [219]:
#Opening the link
link=driver1.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"]').click()

In [350]:
#Creating the attribute fields
names=[]
life=[]
term=[]
remark=[]
info=[]

In [ ]:
#Finding indiviadual attributes xpath, is creating either redundancy or providing no data

In [290]:
table_data=driver1.find_elements(By.TAG_NAME,"td") 
for i in table_data:
    inf=i.text
    info.append(inf)

In [291]:
info_mod=[i.splitlines(True) for i in info]
info_mod

[['1.'],
 ['Jawahar Lal Nehru'],
 ['(1889–1964)'],
 ['15 August 1947 to 27 May 1964\n', '16 years, 286 days'],
 ['The first prime minister of India and the longest-serving PM of India, the first to die in office.'],
 ['2.'],
 ['Gulzarilal Nanda (Acting)'],
 ['(1898-1998)'],
 ['27 May 1964 to 9 June 1964,\n', '13 days'],
 ['First acting PM of India'],
 ['3.'],
 ['Lal Bahadur Shastri'],
 ['(1904–1966)'],
 ['9 June 1964 to 11 January 1966\n', '1 year, 216 days'],
 ["He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965"],
 ['4. '],
 ['Gulzari Lal Nanda  (Acting)'],
 ['(1898-1998)'],
 ['11 January 1966 to 24 January 1966\n', '13 days'],
 ['-'],
 ['5.'],
 ['Indira Gandhi'],
 ['(1917–1984)'],
 ['24 January 1966 to 24 March 1977\n', '11 years, 59 days'],
 ['First female Prime Minister of India'],
 ['6.'],
 ['Morarji Desai'],
 ['(1896–1995)'],
 ['24 March 1977 to  28 July 1979 \n', '2 year, 126 days'],
 ['Oldest to become PM (81 years old) and first to resign from office'],
 ['7.'],
 ['Charan Singh'],
 ['(1902–1987)'],
 ['28 July 1979 to 14 January 1980\n', '170 days'],
 ['Only PM who did not face the Parliament'],
 ['8.'],
 ['Indira Gandhi'],
 ['(1917–1984)'],
 ['14 January 1980 to 31 October 1984\n', '4 years, 291 days'],
 ['The first lady who served as PM for the second term'],
 ['9.'],
 ['Rajiv Gandhi'],
 ['(1944–1991)'],
 ['31 October 1984 to 2 December 1989\n', '5 years, 32 days'],
 ['Youngest to become PM (40 years old)'],
 ['10.'],
 ['V. P. Singh'],
 ['(1931–2008)'],
 ['2 December 1989 to 10 November 1990\n', '343 days'],
 ['First PM to step down after a vote of no confidence'],
 ['11.'],
 ['Chandra Shekhar'],
 ['(1927–2007)'],
 ['10 November 1990 to 21 June 1991\n', '223 days'],
 ['He belongs to  Samajwadi Janata Party'],
 ['12.'],
 ['P. V. Narasimha Rao'],
 ['(1921–2004)'],
 ['21 June 1991 to 16 May 1996\n', '4 years, 330 days'],
 ['First PM from south India'],
 ['13.'],
 ['Atal Bihari Vajpayee'],
 ['(1924- 2018)'],
 ['16 May 1996 to 1 June 1996\n', '16 days'],
 ['PM for shortest tenure'],
 ['14.'],
 ['H. D. Deve Gowda'],
 ['(born 1933)'],
 ['1 June 1996 to 21 April 1997\n', '324 days'],
 ['He belongs to  Janata Dal'],
 ['15.'],
 ['Inder Kumar Gujral'],
 ['(1919–2012)'],
 ['21 April 1997 to 19 March 1998 \n', '332 days'],
 ['------'],
 ['16.'],
 ['Atal Bihari Vajpayee'],
 ['(1924-2018)'],
 ['19 March 1998 to 22 May 2004 \n', '6 years, 64 days'],
 [' The first non-congress PM who completed a full term as PM'],
 ['17.'],
 ['Manmohan Singh'],
 ['(born 1932)'],
 ['22 May 2004 to 26 May 2014   \n', '10 years, 4 days'],
 [' First Sikh PM'],
 ['18.'],
 ['Narendra Modi'],
 ['(born 1950)'],
 ['26 May 2014 - Present'],
 ['4th Prime Minister of India who served two consecutive tenures'],
 ['List of all Presidents of India'],
 ['List of Current Chief Ministers in India'],
 ['List of International Awards received by Narendra Modi'],
 ['List of Chief Ministers of Karnataka (1947-2021)']]

In [351]:

for i in range(1,90,5):
    names.append(info_mod[i][0])
print(names)

['Jawahar Lal Nehru', 'Gulzarilal Nanda (Acting)', 'Lal Bahadur Shastri', 'Gulzari Lal Nanda  (Acting)', 'Indira Gandhi', 'Morarji Desai', 'Charan Singh', 'Indira Gandhi', 'Rajiv Gandhi', 'V. P. Singh', 'Chandra Shekhar', 'P. V. Narasimha Rao', 'Atal Bihari Vajpayee', 'H. D. Deve Gowda', 'Inder Kumar Gujral', 'Atal Bihari Vajpayee', 'Manmohan Singh', 'Narendra Modi']

In [352]:
for i in range(2,91,5):
    life.append(info_mod[i][0])
print(life)

['(1889–1964)', '(1898-1998)', '(1904–1966)', '(1898-1998)', '(1917–1984)', '(1896–1995)', '(1902–1987)', '(1917–1984)', '(1944–1991)', '(1931–2008)', '(1927–2007)', '(1921–2004)', '(1924- 2018)', '(born 1933)', '(1919–2012)', '(1924-2018)', '(born 1932)', '(born 1950)']

In [353]:
for i in range(3,93,5):
    term.append(info_mod[i][0])
    term=[i.replace('\n','')for i in term]
print(term)

['15 August 1947 to 27 May 1964', '27 May 1964 to 9 June 1964,', '9 June 1964 to 11 January 1966', '11 January 1966 to 24 January 1966', '24 January 1966 to 24 March 1977', '24 March 1977 to  28 July 1979 ', '28 July 1979 to 14 January 1980', '14 January 1980 to 31 October 1984', '31 October 1984 to 2 December 1989', '2 December 1989 to 10 November 1990', '10 November 1990 to 21 June 1991', '21 June 1991 to 16 May 1996', '16 May 1996 to 1 June 1996', '1 June 1996 to 21 April 1997', '21 April 1997 to 19 March 1998 ', '19 March 1998 to 22 May 2004 ', '22 May 2004 to 26 May 2014   ', '26 May 2014 - Present']

In [354]:
for i in range(4,94,5):
    remark.append(info_mod[i][0])
print(remark)

['The first prime minister of India and the longest-serving PM of India, the first to die in office.', 'First acting PM of India', "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965", '-', 'First female Prime Minister of India', 'Oldest to become PM (81 years old) and first to resign from office', 'Only PM who did not face the Parliament', 'The first lady who served as PM for the second term', 'Youngest to become PM (40 years old)', 'First PM to step down after a vote of no confidence', 'He belongs to  Samajwadi Janata Party', 'First PM from south India', 'PM for shortest tenure', 'He belongs to  Janata Dal', '------', ' The first non-congress PM who completed a full term as PM', ' First Sikh PM', '4th Prime Minister of India who served two consecutive tenures']

In [356]:
print(len(names),len(life),len(term),len(remark))

18 18 18 18

In [357]:
#creating dataframe
df9=pd.DataFrame({'Name':names,'Born_Dead':life,'Term of Office':term,'Remark':remark})
print("List of all the Prime Ministers of India from 1947-2021")
df9

List of all the Prime Ministers of India from 1947-2021

,Name,Born_Dead,Term of Office,Remark
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Program 10

In [358]:
#connecting the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [359]:
#Opening the desired page
driver.get("https://www.motor1.com/")

In [361]:
list=driver.find_element(By.XPATH,'//a[@href="/features/category/lists/"]').click()

In [362]:
choice_of_list=driver.find_element(By.XPATH,'//a[@href="/features/308149/most-expensive-new-cars-ever/"]').click()

In [394]:
#scrapping data for car name
cname=[]
car_tag=driver.find_elements(By.CLASS_NAME,"subheader")
for i in car_tag[0:50]:
    car=i.text
    cname.append(car)
cname

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [387]:
#We have description of cars only in p_tag, so following the step_by_step approach
desc_tag=driver.find_elements(By.TAG_NAME,"p")
for i in desc_tag:
    des=i.text
    desc.append(des)

In [388]:
desc_mod=[i.splitlines(True) for i in desc]
desc_mod

[['When it comes to high-end hypercars and super-fast supercars, a few companies should come to mind first: Bugatti, Ferrari, Koenigsegg, Rimac, and Pagani, among others. These manufacturers have cemented themselves as the top dogs in the supercar and hypercar space, extending to their wealthiest clientele the fastest, rarest, prettiest – and in this case – most expensive cars on the planet.'],
 ["But in order to find out which of these unattainable-to-most vehicles is the priciest, we've scoured the invoice sheets and uncovered 40 cars all worth $1 million or more. The group includes hybrid Ferrari convertibles, an American speed king, a few electric Hypercars, and two a one-of-a-kind Rolls-Royce cars built for royalty."],
 ['We should note, though: The prices listed here are the price of the vehicles when new. So we’re not counting auction cars like the Ferrari 250 GTO, or overpriced secondhand sales. But don’t worry, there’s still hundreds of millions worth of cars here to whet your appetite.'],
 ['Price: $1.2 Million'],
 ['The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.'],
 ['Price: $1.3 Million'],
 ['The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.'],
 ['Price: $1.4 Million'],
 ['At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.'],
 ['Price: $1.4 Million'],
 ['Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).'],
 ['Price: $1.7 Million'],
 ['The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.'],
 ['Price: $1.7 Million'],
 ['You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.'],
 ['Price: $1.7 Million'],
 ['Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.'],
 ['Price: $1.7 Million'],
 ["The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out."],
 ['Price: $1.7 Million'],
 ['One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.'],
 ['Price: $1.7 Million'],
 ['Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.'],
 ['Price: $1.8 Million'],
 ['The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.'],
 ['Price: $1.9 Million'],
 ['With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.'],
 ['Price: $1.9 Million'],
 ["To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million."],
 ['Price: $2.0 Million'],
 ["The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million."],
 ['Price: $2.0 Million'],
 ['The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.'],
 ['Price: $2.0 Million*'],
 ['Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.'],
 ['Price: $2.1 Million'],
 ['With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.'],
 ['Price: $2.3 Million'],
 ['As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.'],
 ['Price: $2.3 Million'],
 ['You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.'],
 ['Price: $2.3 Million'],
 ["What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples."],
 ['Price: $2.4 Million'],
 ['The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.'],
 ['Price: $2.5 Million'],
 ['First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.'],
 ['Price: $2.5 Million'],
 ['Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.'],
 ['Price: $2.6 Million'],
 ["Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics."],
 ['Price: $2.6 Million'],
 ["If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today."],
 ['Price: $2.6 Million'],
 ["The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour."],
 ['Price: $2.7 Million'],
 ['Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.'],
 ['Price: $3.0 Million'],
 ['The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.'],
 ['$3.0 Million'],
 ['The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.'],
 ['Price: $3.0 Million'],
 ["The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour."],
 ['Price: $3.2 Million'],
 ['The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.'],
 ['Price: $3.4 Million'],
 ["Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque."],
 ['$3.5 Million'],
 ['One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.'],
 ['Price: $3.5 Million'],
 ['Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.'],
 ['Price: $3.6 Million'],
 ['Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.'],
 ['Price: $3.6 million'],
 ['In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.'],
 ['Price: $3.7 Million'],
 ['The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.'],
 ['Price: $3.9 Million'],
 ['Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.'],
 ['Price: $4.5 Million'],
 ["Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever."],
 ['Price: $4.7 Million'],
 ["Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time."],
 ['Price: $5.0 Million'],

In [391]:
#Extracting data for description
c_desc=[]
for i in range(4,104,2):
    c_desc.append(desc_mod[i][0].splitlines())
print(c_desc)

[['The Drako GTE is a super sedan in every sense of the word. Packing 1,200 horsepower and a whopping 6,491 pound-feet of torque from a fully electric powertrain, the GTE can hit 60 in just about 2.0 seconds and tops out at 206 miles per hour. The cost for this family-friendly rocket is a cool $1.2 million.'], ['The De Tomaso P72 is basically the definition of beautiful. The shapely supercar debuted at the 2019 Goodwood Festival Of Speed with a supercharged Ford V8 boasting 700 horsepower. The P72 marked the return of the DeTomaso brand after nearly 30 years on hiatus, and if you want one, it will cost you at least $1.3 million.'], ['At $1.4 million new, the Ferrari LaFerrari is actually one of the most affordable supercars on this list. It’s a bargain compared to the most expensive vehicle here. Debuting in 2013 with 950 hybrid horses (708 kilowatts) and a top speed of around 220 miles per hour (354 kilometers per hour), this is still Ferrari’s fastest and most powerful production model to date. The company built just 499 examples of the coupe between 2013 and 2016.'], ['Inarguably one of the prettiest cars on this list, the Pagani Huayra cost a cool $1.4 million when new. Like the LaFerrari, Pagani built the Huayra in extremely limited numbers. The company hand-constructed just 100 units of the coupe between 2012 and 2018, with another 20 versions of the BC model (which makes our list further down) between 2017 and 2019. Powering each and every example was a Mercedes-AMG V12 capable of 720 horsepower (537 kilowatts).'], ['The McLaren Elva is one of the latest additions to the British supercar maker’s storied legacy. Even without a proper windshield (though, no option) or roof to rely on, the Elva produces 804 horsepower and 590 pound-feet of torque from its twin-turbocharged 4.0-liter V8. Originally McLaren announced just 399 units, but later the company dropped that to an even more scarce 249 examples. Either way, most of you will never get your hands on one – the Elva costs $1.7 million.'], ['You might not know the name Czinger yet, but this California-based boutique automaker is responsible for the $1.7 million 21C supercar. With 1,250 horsepower on tap thanks to a 2.9-liter twin-turbocharged V8, the 21C can rocket to 60 miles per hour in 1.9 seconds and a top speed of around 281 miles per hour.'], ['Much like the roof-less McLaren Elva, the Ferrari Monza SP1 and SP2 are all about al fresco motoring. As the name implies, the SP1 is the single-seater option while the SP2 has just enough room for you to bring along a friend. Both cars come powered by the same naturally aspirated 6.5-liter V12 engine capable of 809 horsepower and 530 pound-feet. Unfortunately for US buyers, neither of these models are street legal in the States. But f you have the funds to afford the car’s $1.75 million price tag, getting onto a track probably won’t be an issue anyway.'], ["The second and slightly more affordable supercar in the new Gordon Murray lineup is the T.33. With 607 horsepower courtesy of a naturally aspirated 3.9-liter V12, the T.33 revs to a ridiculous 10,500 RPM. With a price tag of around $1.7 million at current conversion rates, Gordon Murray automotive promises to sell this car globally, in both right- and left-hand-drive configurations. Too bad it's already sold out."], ['One of two Koenigsegg models on this list, the Gemera is actually the Swedish supercar maker’s first four-seater. But that doesn’t mean it’s some family car. With a twin-turbocharged 2.0-liter engine under the hood and three electric motors, the Gemera has 1,700 horsepower and will hit 60 in just 1.9 seconds. The company only plans to build 300 of them, each one costing at least $1.7 million.'], ['Hailing from Denmark, the Zenvo TSR-S debuted in 2018 at the Geneva Motor Show as the most extreme option in the supercar startup’s repertoire. Boasting a twin-charged 5.8-liter V8 engine, the TSR-S produces 1,177 horsepower and will hit 62 miles per hour in just 2.8 seconds. Expect to pay at least $1.7 million to get your hands on this powerful and limited supercar.'], ['The Hennessey Venom GT was a record-breaker, topping out at 265.7 miles per hour in a world record run. But the new F5 plans to beat its predecessor with an estimated top speed of 311 mph, and with that comes a higher price, too. The Venom F5 starts at $1.8 million, according to the company, which makes it just a bit pricier than its $1.2-million predecessor.'], ['With just 12 total units produced, the Bentley Bacalar makes some of the "limited" cars on this list look plentiful by comparison. Although the car’s opulent design may be the first thing to grab your attention, the Bacalar is no slouch in terms of performance either. With Bentley’s signature turbocharged 6.0-liter W12 turbocharged engine, this car delivers 650 horsepower and 664 pound-feet. If you have a spare $1.9 million lying around and are considering buying one, you’re already too late – Bentley says that every example is now in customer hands.'], ["To call the Hispano Suiza Carmen Boulogne beautiful would be... a stretch. But this interesting-looking supercar made its US debut at this year's Amelia Island Concours d'Elegance boasting a 1,114-horsepower electric powertrain and a 0-60 time of 2.6 seconds. The Boulogne version pictured here – the lighter and more powerful of the two – costs close to $1.9 million."], ["The electric onslaught is coming. Bentley says it will be a fully electric automaker by 2030. But before the luxury brand transitions to battery power fully, the Mulliner Batur helps send the iconic W12 engine off in style. With 710 horsepower from that twin-turbocharged engine, the Batur is the most powerful Bentley ever. And since it's limited to just 18 examples globally, the Batur costs a whopping $2.0 million."], ['The Deus Vayanne may not be a household name (yet), but the all-electric hypercar debuted earlier this year with 2,200 horsepower, a 0-60 time of just under 2.0 seconds, and an estimated top speed of 248 miles per hour. Deus plans to build 99 examples of the Vayanne, with the first few examples scheduled to go on sale in 2025.'], ['Although initially cloaked in controversy, SSC did manage to hit 282.9 miles per hour with its Tuatara hypercar, breaking a world record. But not only is the Tuatara one of the fastest vehicles on the planet, it’s also one of the priciest. The cost for all that speed is estimated to be around $2.0 million for the base Tuatara, limited to just 100 units worldwide.'], ['With a new Emira sports car and an Eletre electric SUV, Lotus is on the brink of a comeback. The automaker plans to roll out a number of new products within the next few years, with part of that strategy including the range-topping Evija. This supercar comes in at a cool $2.1 million and produces nearly 2,000 horsepower via four electric motors. Lotus plans to build just 130 road-going examples of the Evija.'], ['As with a few other cars on this list, the Aston Martin Vulcan was a track-only special. The British supercar made its world debut in 2015, powered by a naturally aspirated 7.0-liter V12 that produced 820 horsepower, and limited to just 24 examples worldwide. An even more track-focused AMR Pro model followed, but even the base Vulcan was a pricey commodity, costing about $2.4-million from the factory.'], ['You may have heard of Delage before. In the early 1900s, this French automaker was competing on the track with Bugatti and Ferrari. Now Delage is back and with a beautiful new hypercar dubbed the D12. Powered by a 7.6-liter V12 engine, the new D12 produces upwards of 1,010 horsepower and costs a cool $2.3 million.'], ["What would you pay for the fastest production McLaren ever? Well, at least $2.3 million. With 1,035 horsepower courtesy of a gasoline-electric hybrid V8 powertrain, the Speedtail tops out at 250 miles per hour and is able to reach 186 mph in just 12.8 seconds – 2.7 seconds faster than the P1. Unfortunately, if you didn't get your hands on one new in 2020, you'll have to shell out serious cash on the used market. McLaren only built 106 examples."], ['The Rimac Nevera takes the title of most expensive EV with its $2.4 million price tag – but only by a few hundred thousand dollars over the next priciest electric supercar. Packing 1,914 horsepower and 1,740 pound-feet of torque, the Nevera can hit 60 in under 2.0 seconds and will continue on to a top speed of 258 miles per hour. Those lucky enough to order one should see it in their driveway before the end of 2022.'], ['First came the Zonda, then the Huayra, and now the Pagani Utopia. With 852 horsepower and an available seven-speed manual gearbox, the Utopia is the most powerful road-going Pagani ever produced and it’s limited to just 99 examples worldwide. The cost for one is a cool $2.5 million.'], ['Aptly named after the company’s founder, Battista Farina, the Pininfarina Battista delivers the kind of performance (and price!) to make its namesake proud. Revealed at the 2019 Geneva Motor Show, the Battista is completely electric, putting out 1,827 horsepower. If a normal supercar’s 0 to 60 time sounds too leisurely for you, the company says that the Battista will take you there in under 2.0 seconds. Pininfarina plans on building 150 examples of the Battista, costing $2.5 million each.'], ["Sure, you could buy a normal LaFerrari (which also makes the list further down), but why settle for a supercar so mundane when you can take home this track-only version instead? Granted, the Ferrari FXX K Evo came out in 2017, and it's well past the point of being sold out. But when it was new, this 1,036-horsepower Ferrari tore up the track with its naturally aspirated V12 and aggressive aerodynamics."], ["If the name Gordon Murray sounds familiar, it’s because he's the man behind the design of the iconic McLaren F1. These days, Mr. Murray has his own supercar venture, and the handsome T.50 is the crown jewel of the lineup. At $2.6 million, the T.50 packs a naturally aspirated 4.0-liter V12 that makes 654 horsepower. The car itself weighs a mere 2,174 pounds, and at 392 pounds, the T.50 has the lightest V12 on the road today."], ["The name Countach may be iconic, but is it worth $2.6 million? That's what Lamborghini hopes you will spend on its new Aventador-based model. Debuting in August of 2021, the Countach LPI 800-4 has a 6.5-liter V12 with a light hybrid assist that gives it a whopping 803 horsepower, allowing for a 60 time of 2.8 seconds and a top speed of more than 220 miles per hour."], ['Mercedes has promised a production version of the Project One hypercar for quite a while now. The first official announcement was in March of 2017 before the first concept debuted later that same year. But after nearly five years of teasing, it appears as if the Project One will finally hit public roads. And when it does, the hybrid hypercar will have over 1,200 horsepower (895 kilowatts) and a price tag of $2.7 million.'], ['The folks at Aston Martin know a thing or two about exclusive vehicles, and the Victor might be the most exclusive project for the British brand to date. Based on the One-77 platform, the Victor uses parts from several donor Astons including the track project Vulcan and the upcoming Valkyrie. And talking about limited production – the Victor is one-of-one and rumored to cost nearly $3 million.'], ['The same Hennessey Venom F5 hypercar we all know and love, but with less roof. The F5 Roadster has the same twin-turbocharged 6.6-liter V8 as the coupe, producing the same 1,817 horsepower and 1,193 pound-feet of torque. Hennessey estimates a top speed of over 300 miles per hour, but if you want one, it will cost you at least $3.0 million.'], ["The Koenigsegg Jesko, apart from being the fastest car the company has made to date, is also the most expensive. At $3.0 million out of the box, the handsome hypercar has 1,600-horsepower courtesy of the brand's ubiquitous twin-turbocharged 5.0-liter V8 engine. Opt for the Absolut model, and the Jesko, in theory, will be able to hit 300 miles per hour."], ['The upcoming Aston Martin hybrid hypercar hasn’t even hit the market yet, but already the $3.2 million Valkyrie has sold out. For what it’s worth, Aston Martin hasn’t officially released pricing. Estimates suggest the hypercar could go for anywhere between $2.6 and $3.9 million – but $3.2 million seems to be the magic number. Whatever the case, this machine is impressive. Its Cosworth-sourced 6.5-liter V12 produces 1,160 horsepower (865 kilowatts) and 664 pound-feet (900 Newton-meters) of torque, meaning its top speed should be well over 200 miles per hour (321 kilometers per hour). The company will build just 150 examples of the standard Valkyrie, with a limited 25-run AMR model arriving later.'], ["Dubai-based W Motors shocked the world with its edgy Lykan Hypersport supercar in 2013. With titanium LED headlights housing 420 15-carat diamonds and a holographic display in the center console, it's no surprise it was the third most expensive car ever when new. It falls to number six on our list here, but it's still a wild hypercar with a powerful heart; the twin-turbocharged 3.7-liter six-cylinder engine underhood produces 780 horsepower (581 kilowatts) and 708 (960 Newton-meters) of torque."], ['One seat, 829 horsepower, and a top speed of over 200 miles per hour. The new McLaren Solus is about as close as you can get to a Formula 1 car from the factory, powered by a naturally aspirated 5.2-liter V10 engine with a 0-62 mile-per-hour time of just 2.5 seconds. Estimates suggest a McLaren Solus will set you back about $3.5 million.'], ['Following Pagani’s past playbook, a roadster version of the ferocious Huayra BC was inevitable. Last year, the company made it official by showing off the Huayra Roadster BC, a topless monster with 800 horsepower (597 kilowatts) and 774 lb-ft of torque (1049 Newton-meters). Somewhat surprisingly, Pagani gave the roadster 50 more horsepower than its coupe sibling, by cranking up its AMG-sourced twin-turbocharged 6.0-liter V12. In addition to the joy of hearing the glorious engine note without a roof in the way, owners should take comfort in knowing that their car is ultra-rare. Pagani is limiting production to just 40 units, each with a sticker price of $3.5 million.'], ['Another showstopper from the Geneva Motor Show that never was, the Bugatti Chiron Pur Sport is a special edition Chiron with a focus on aerodynamics, weight reduction, and power distribution. It’s the same 8.0-liter quad-turbo W16 engine underneath the skin but it’s now mated to a recalibrated automatic gearbox. While the peak output remains unchanged at 1,500 horsepower (1,103 kilowatts), the rpm redline has been set 200 rpm higher, up to 6,900 rpm. The Pur Sport also features slightly revised bodywork, with a bigger rear wing and more aerodynamic front fascia. Beginning production in late 2020, the Bugatti starts at $3.6 million.'], ['In several ways, the Sian represents a bridge to Lamborghini’s future. Though it’s based on the Aventador SVJ, this wild-looking Lambo is the brand’s first production electrified offering. In addition to the SVJ-sourced 6.5-liter V12, the Sian uses a 48-volt mild-hybrid system. Total system output is 819 horsepower (611 kilowatts), which also makes it the most powerful Lamborghini ever. As confirmed by the 63 stuck on either side of the Sian’s wing, Lamborghini will produce just 63 units. And each will cost far more than the Aventador SVJ, carrying a price of $3.6 million.'], ['The Koenigsegg CC850 was a surprise to be sure, but a welcomed one. Borrowing the twin-turbocharged 5.0-liter V8 from the Jesko, it notches that output up to 1,385 horsepower and 1,022 pound-feet of torque, with a so-called “TWMPAFMPC” transmission that shifts (pun intended) between manual and automatic functions. Of course, all that performance technology will cost you; the CC850 starts at $3.7 million.'], ['Earlier this year, Bugatti captured the collective attention of the automotive world by announcing that it broke the 300 miles per hour barrier with a modified version of the Chiron. The Super Sport 300 + is a road-going version of that car, meant to celebrate the occasion. Limited to just 30 units, the Super Sport 300+ is a beautiful version of the Chiron, with flowing, slippery bodywork and a sweet stripe motif. Even with 300 in the name, Bugatti is limiting the top speed of each car to "just" 277 mph. Production starts this year.'], ["Lamborghini built just 14 examples of the Aventador-based Veneno between 2014 and 2015. Each one cost around $4.5 million, depending on how it was spec'd, and was available in both convertible and coupe configurations. Underhood Lamborghini fitted a more-powerful iteration of the Aventador's 6.5-liter V12, now producing 740 horsepower (552 kilowatts) and 509 pound-feet (609 Newton-meters) of torque, which gave it the ability to sprint to 60 miles per hour (96 kilometers per hour) in a blistering 2.9 seconds. To date, it’s the most expensive new Lamborghini ever."], ["Produced in extremely limited numbers atop the body of a Chiron, it's no wonder Bugatti's one-of-40 Bolide track car is this pricey. At $4.7 million, the 1,824-horsepower hypercar has more power than the Chiron Super Sport 300+, and more extreme bodywork that allow it to lap tracks like the Nurburgring in record time (in theory). Bugatti says the Bolide would be able to conquer the ‘Ring in record time."], ['The Bugatti Mistral sends the iconic W16 engine off in style. With 1,577 horsepower and no roof, the Mistral takes the best bits of the Chiron and borrows elements from the Bolide and Divo to create a truly unique roadster. Of course, Bugatti plans to build just 99 examples of the Mistral at the cost of around $5.0 million in the US – and all of them are already accounted for.'], ['Even though the new Utopia marks the next big step for Pagani, the Huayra Imola packs nearly as much power with a twin-turbocharged 6.0-liter V12 engine producing 827 horsepower and 811 pound-feet of torque. The Huayra Imola is estimated to cost around $5.4 million new, which would make it the second most expensive Pagani of all time.'], ['Among Bugatti’s recently debuted vehicles, the Divo is a staff favorite. Though it shares much in common with its cheaper (!) sibling the Chiron, the Divo has a lot going for it to justify the extra money. By adding lighter wheels, a carbon fiber intercooler and removing some sound deadening, Bugatti made the Divo 77 pounds lighter than the Chiron. Though power is unchanged from the Chiron’s 1,500 ponies (1,119 kilowatts), The Divo features a different aerodynamic setup, which makes it 8 seconds quicker around the Nardo test track. Finally, the moment you’ve been waiting for: Bugatti is making 40 examples of the car, each costing $5.8 million.'], ["SP Automotive (short for Spyros Panopoulos) is a new name in the world of hypercars, but the brand's 2,000-horsepower, $6.4-million, aptly named Chaos has already made an impact. With a twin-turbocharged 4.0-liter V10, the base SP Automotive Chaos is one of the most expensive cars on this list – beating out many Lambos and Bugattis – but there's an even pricier version of this car that costs an eye-watering $14.4 million. That version reportedly packs 3,000 hp."], ['The long list of pricey (new) Paganis ends with the Codualunga. Inspired by 1960s Italian coachbuilding, the stunning exterior and steampunk-esque interior – while equally stunning – are only part of what makes this Pagani so pricey. Under the hood is a twin-turbocharged 6.0-liter V12 producing 829 horsepower and 809 pound-feet of torque, paired to a seven-speed sequential transmission for a real race-car–like feel. The cost for this one-of-five Pagani is $7.4 million.'], ["Like many others before it, the Mercedes-Benz Maybach Exelero is a one-off. Commissioned by Fulda, a German subsidiary of Goodyear, to test 

In [390]:
#Extracting data for car price
cpricef=[]
for i in range(3,103,2):
    cpricef.append(desc_mod[i][0].splitlines())
print(cpricef)

[['Price: $1.2 Million'], ['Price: $1.3 Million'], ['Price: $1.4 Million'], ['Price: $1.4 Million'], ['Price: $1.7 Million'], ['Price: $1.7 Million'], ['Price: $1.7 Million'], ['Price: $1.7 Million'], ['Price: $1.7 Million'], ['Price: $1.7 Million'], ['Price: $1.8 Million'], ['Price: $1.9 Million'], ['Price: $1.9 Million'], ['Price: $2.0 Million'], ['Price: $2.0 Million'], ['Price: $2.0 Million*'], ['Price: $2.1 Million'], ['Price: $2.3 Million'], ['Price: $2.3 Million'], ['Price: $2.3 Million'], ['Price: $2.4 Million'], ['Price: $2.5 Million'], ['Price: $2.5 Million'], ['Price: $2.6 Million'], ['Price: $2.6 Million'], ['Price: $2.6 Million'], ['Price: $2.7 Million'], ['Price: $3.0 Million'], ['$3.0 Million'], ['Price: $3.0 Million'], ['Price: $3.2 Million'], ['Price: $3.4 Million'], ['$3.5 Million'], ['Price: $3.5 Million'], ['Price: $3.6 Million'], ['Price: $3.6 million'], ['Price: $3.7 Million'], ['Price: $3.9 Million'], ['Price: $4.5 Million'], ['Price: $4.7 Million'], ['Price: $5.0 Million'], ['Price: $5.4 Million'], ['Price: $5.8 Million'], ['Price: $6.4 Million'], ['Price: $7.4 Million'], ['Price: $8.0 Million'], ['Price: $9.0 Million'], ['Price: $12.8 Million'], ['Price: $13.4 Million'], ['Price: $28.0 Million (est.)']]

In [395]:
print(len(cname),len(c_desc),len(cpricef))

50 50 50