In [92]:
#Installing Selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\maahi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\maahi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\maahi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\maahi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\maahi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sniffio in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\maahi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\maahi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\maahi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\maahi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\maahi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [93]:
#installing requests
!pip install requests

Requirement already satisfied: requests in c:\users\maahi\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\maahi\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\maahi\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\maahi\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\maahi\anaconda3\lib\site-packages (from requests) (3.3)

In [120]:
#importing the required libraries
import requests
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
import time

# Program 1
Scrape the details of most viewed videos on YouTube from Wikipedia, Url = https://en.wikipedia.org/wiki/List_of_mostviewed_YouTube_videos
You need to find following details:A) Rank B) Name C) Artist D) Upload date E) Views

In [95]:
#Creating the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [96]:
#opening the desired page
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [104]:
#Creating the rank field
rank1=[] 
# fetching  of details for rank
try:
    rank_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in rank_tag[0:30]:
        rank1.append(i.text)
except NoSuchElementException:
    rank1.append('-')

In [106]:
#Creating the name field
name1=[] 
# fetching  of details for name
try:
    name_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in name_tag[0:30]:
        name1.append(i.text)
except NoSuchElementException:
    name1.append('-')

In [107]:
#Creating the artist field
artist=[] 
# fetching  of details for artist
try:
    ar_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in ar_tag[0:30]:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')

In [108]:
#Creating the upload field
upload=[] 
# fetching  of details for upload
try:
    up_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in up_tag[0:30]:
        upload.append(i.text)
except NoSuchElementException:
    upload.append('-')

In [109]:
#Creating the view field
views=[] 
# fetching  of details for views
try:
    view_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in view_tag[0:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')

In [110]:
#Creating the data frame
df1=pd.DataFrame({'Rank':rank1,'Name':name1,'Artists':artist,'Upload Date':upload,'Views':views})
print("List of top most-viewed videos on YouTube")
df1

List of top most-viewed videos on YouTube

,Rank,Name,Artists,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

In [111]:
driver.close()

# Program 2
Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

In [139]:
#Accessing the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [140]:
#Opening the desired page
driver.get("https://www.bcci.tv/")

In [141]:
#fixture field
fix_tab=driver.find_element(By.XPATH,'//li[@class="nav-item"]')
fix_tab.click()

In [142]:
try:
    more_tag=driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
    more_tag.click()
except ElementClickInterceptedException:
    but_tag=driver.find_element(By.XPATH,'//button[@class="cookie__accept btn btn-primary"]').click()
    
for j in range(0,2): #Since we have to click more info tab 2 times for all the information
    #Clicking on more_fixtures tab   
    more_tag=driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
    more_tag.click()

In [143]:
#Creating the attribute lists
match=[]
series=[]
place=[]
date=[]
time=[]
    
#match attribute
match_tag=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match_tag:
    match.append(i.text)
    
#series attribute
series_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series_tag:
    series.append(i.text)

#place attribute
place_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place_tag:
    place.append(i.text)
        
#date attribute
date_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]/h5')
for i in date_tag:
    date.append(i.text)
        
#time attribute
time_tag=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]/h5')
for i in time_tag:
    time.append(i.text)

In [145]:
match

['1st T20I -',
 '5th T20I -',
 '2nd T20I -',
 '3rd T20I -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st T20I -',
 '2nd T20I -',
 '3rd T20I -',
 '1st Test -',
 '2nd Test -',
 '3rd Test -',
 '4th Test -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -']

In [146]:
series

['SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'Sri Lanka won the Toss and elected to Field',
 'INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23',
 'NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23',
 'NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23',
 'NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23',
 'NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23',
 'NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23',
 'NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23']

In [147]:
place

['(16.1 ov)',
 'Wankhede Stadium,',
 'Steyn City School Ground,',
 'Maharashtra Cricket Association Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'Barsapara Cricket Stadium,',
 'Eden Gardens,',
 'Greenfield International Stadium,',
 'Rajiv Gandhi International Stadium,',
 'Shaheed Veer Narayan Singh International Cricket Stadium,',
 'Holkar Cricket Stadium,',
 'JSCA International Stadium Complex,',
 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium,',
 'Narendra Modi Stadium,',
 'Vidarbha Cricket Association Stadium,',
 'Arun Jaitley Stadium,',
 'Himachal Pradesh Cricket Association Stadium,',
 'Narendra Modi Stadium,',
 'Wankhede Stadium,',
 'Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,',
 'MA Chidambaram Stadium,']

In [144]:
print(len(match),len(series),len(place),len(date),len(time))

20 21 21 20 20

In [125]:
#Creating the data frame
df2=pd.DataFrame({'Match Title':match,'Series':series,'Place':place,'Date':date,'Time of match':time})
print("Team India’s International Fixtures")
df2

ValueError: All arrays must be of the same length

In [ ]:
driver.close()

# Program3
Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details: A) Name B) Description

In [151]:
#Creating the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [152]:
#Opening the desired page
driver.get("https://www.guru99.com/")

In [155]:
#Search box tab
search_tab=driver.find_element(By.XPATH,'//input[@class="gsc-input"]')
search_tab.send_keys("selenium exception")

In [156]:
#Clicking on the search button
s_button=driver.find_element(By.XPATH,'//button[@class="gsc-search-button gsc-search-button-v2"]')
s_button.click()

In [157]:
#Clicking on the first link displayed
link=driver.find_element(By.XPATH,'//div[@class="gsc-webResult gsc-result"]/div/div/div/a')
link.click()

In [158]:
#getting the details of the newly opened page
for handle in driver.window_handles:
    driver.switch_to.window(handle)

In [159]:
#Getting the Name and Description details
details=[]
try:
    detail_tag=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
    for i in detail_tag:
        details.append(i.text.split(":")) #To seperate the elements for indexing
except NoSuchElementException:
    details.append('-')

In [160]:
#Seperating name and description from details
name3=[]
desc=[]
for i in range(0,41):
    name3.append(details[i][0])
    desc.append(details[i][1])

In [162]:
#Creating the data frame
df3=pd.DataFrame({'Exception Name':name3,'Description':desc})
print("Details of selenium exception from guru99.com")
df3

Details of selenium exception from guru99.com

,Exception Name,Description
0,1. ElementNotVisibleException,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException,This Exception occurs if an element could not...
3,4. NoSuchFrameException,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException,This Exception occurs if the window target to...
6,7. StaleElementReferenceException,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException,The WebDriver is acting after you quit the br...
8,9. TimeoutException,Thrown when there is not enough time for a co...
9,10. WebDriverException,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException,This type of Exception takes place when there...
11,12. ElementClickInterceptedException,The command may not be completed as the eleme...
12,13. ElementNotInteractableException,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException,It takes place when IME support is unavailable.
17,18. InsecureCertificateException,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException,This type of Exception matches an interacting...
21,22. InvalidElementStateException,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,25. JavascriptException,This issue occurs while executing JavaScript ...
25,26. JsonException,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,29. NoSuchContextException,ContextAware does mobile device testing.
29,30. NoSuchCookieException,This Exception occurs when no cookie matching...
30,31. NotFoundException,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException,This Selenium exception is thrown when the se...
32,33. ScreenshotException,It is not possible to capture a screen.
33,34. SessionNotCreatedException,It happens when a new session could not be su...
34,35. UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException,Happens if a support class did not get a web ...
36,37. UnhandledAlertException,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,39. UnknownMethodException,This Exception happens when the requested com...
39,40. UnreachableBrowserException,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

# Program4
Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E)Share(18-19) F) GDP($ billion)

In [182]:
#Accessing the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [183]:
#Opening the desired page
driver.get("http://statisticstimes.com/")

In [184]:
#Dismissing the cookie pop-up
cookie=driver.find_element(By.XPATH,'//a[@aria-label="dismiss cookie message"]')
cookie.click()

In [185]:
#Clicking on the Economy Drop-Down Menu
eco_dd=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]').click()

In [186]:
#Clicking on India
india_tag=driver.find_element(By.XPATH,'//a[@href="economy/india-statistics.php"]').click()

In [188]:
#Clicking on GDP of India Link
gdp=driver.find_element(By.XPATH,'//a[@href="india/indian-states-gdp.php"]').click()

In [189]:
#clicking on ignore pop-up
ignore_tab=driver.find_element(By.XPATH,'//vli[@class="vliIgnore"]').click()

In [190]:
#start scrapping info of state-wise gdp
rank4=[]
state=[] 
GSDP18=[] 
GSDP19=[]
share=[]
GDP=[]

#Scrapping info for rank
try:
    rank4_tag=driver.find_elements(By.XPATH,'//td[@class="data1"]')
    for i in rank4_tag[0:33]:
        rank4.append(i.text)
except NoSuchElementException:
    rank4.append('-')
    
#Scrapping info for state
try:
    state_tag=driver.find_elements(By.XPATH,'//td[@class="name"]')
    for i in state_tag[0:33]:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')

#Scrapping info for GSDP18
try:
    gsdp18_tag=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
    for i in gsdp18_tag[0:33]:
        GSDP18.append(i.text)
except NoSuchElementException:
    gsdp18.append('-')

#Scrapping info for GSDP19
try:
    gsdp19_tag=driver.find_elements(By.XPATH,'//td[@class="data"][1]') #since multiple class=data are present
    for i in gsdp19_tag[0:33]:
        GSDP19.append(i.text)
except NoSuchElementException:
    gsdp19.append('-')

#Scrapping info for share
try:
    share_tag=driver.find_elements(By.XPATH,'//td[@class="data"][2]') #since multiple class=data are present
    for i in share_tag[0:33]:
        share.append(i.text)
except NoSuchElementException:
    share.append('-')

#Scrapping info for gdp
try:
    gdp_tag=driver.find_elements(By.XPATH,'//td[@class="data"][3]') #since multiple class=data are present
    for i in gdp_tag[0:33]:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [191]:
print(len(rank4),len(state),len(GSDP18),len(GSDP19),len(share),len(GDP))

33 33 33 33 33 33

In [192]:
#Creating Data Frame
df4=pd.DataFrame({'Rank':rank4,'State':state,'GSDP(18-19)':GSDP18,'GSDP(19-20)':GSDP19,'Share':share,'GDP($Billion)':GDP})
print("State-wise GDP of India from statisticstime.com.")
df4

State-wise GDP of India from statisticstime.com.

,Rank,State,GSDP(18-19),GSDP(19-20),Share,GDP($Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [193]:
driver.close()

# Program5
Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title B) Repository description C) Contributors count D) Language used

In [195]:
#Accessing the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [196]:
#Opening the desired page
driver.get("https://github.com/")

In [197]:
#Clicking on the Open-Source Drop-Down Menu
opensource_dd=driver.find_element(By.XPATH,'//li[@class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item"][3]').click()

In [198]:
# Clicking on Trending
trend_tag=driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/div/ul[3]/li[3]/a').click()

In [200]:
#Creating the attribute list
title5=[] 
desc5=[] 
contr=[]
lang=[]

urls=['https://github.com/zlib-searcher/zlib-searcher','https://github.com/LAION-AI/Open-Assistant','https://github.com/vinta/awesome-python','https://github.com/2dust/v2rayNG','https://github.com/karpathy/nanoGPT','https://github.com/ashemery/exploitation-course','https://github.com/mxssl/sre-interview-prep-guide','https://github.com/Developer-Y/cs-video-courses','https://github.com/Z4nzu/hackingtool','https://github.com/zakird/crux-top-lists','https://github.com/termux/termux-packages','https://github.com/priyankavergadia/GCPSketchnote','https://github.com/vercel/hyper','https://github.com/alist-org/alist','https://github.com/ocornut/imgui','https://github.com/calcom/cal.com','https://github.com/pola-rs/polars','https://github.com/github/docs','https://github.com/jerryjliu/gpt_index','https://github.com/OpenBB-finance/OpenBBTerminal','https://github.com/itzg/docker-minecraft-server','https://github.com/pmndrs/zustand','https://github.com/google/osv-scanner','https://github.com/jellyfin/Swiftfin','https://github.com/laurent22/joplin']
for i in urls:
    driver.get(i)
    
    # Scrapping info for title
    try:
        title5_tag=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        title5.append(title5_tag.text)
    except NoSuchElementException:
        title5.append('-')
        
    # Scrapping info for description
    try:
        desc5_tag=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        desc5.append(desc5_tag.text)
    except NoSuchElementException:
        desc5.append('-') 
    
    # Scrapping info for contributors
    try:
        cont_tag=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span" or "/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[3]/div/h2/a/span")
        contr.append(cont_tag.text)         
    except NoSuchElementException:
        contr.append('_') 
    
    # Scrapping info for languages used
    try:
        lang_mod=[] #to create list within list
        lang_tag=driver.find_elements(By.XPATH,'//a[@class="d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3"]')
        for j in lang_tag:
            lang_mod.append(j.text.replace("\n"," "))
        lang.append(" ".join(lang_mod))
    except NoSuchElementException:
        lang.append('-')

In [201]:
print(len(title5),len(desc5),len(contr),len(lang))

25 25 25 25

In [202]:
df5=pd.DataFrame({'Title':title5,'Description':desc5,'Contributors':contr,'Languages Used':lang})
print("Details of trending repositories on Github.com.")
df5

Details of trending repositories on Github.com.

,Title,Description,Contributors,Languages Used
0,zlib-searcher,search zlib/libgen index,10,TypeScript 64.3% Rust 26.9% Shell 5.0% Python ...
1,Open-Assistant,OpenAssistant is a chat-based assistant that u...,51,Jupyter Notebook 87.0% Python 9.4% TypeScript ...
2,awesome-python,"A curated list of awesome Python frameworks, l...",_,Python 92.6% Makefile 7.4%
3,v2rayNG,"A V2Ray client for Android, support Xray core ...",23,Kotlin 96.7% Java 3.3%
4,nanoGPT,"The simplest, fastest repository for training/...",_,Python 100.0%
5,exploitation-course,Offensive Software Exploitation Course,_,Python 97.6% C 2.4%
6,sre-interview-prep-guide,Site Reliability Engineer Interview Preparatio...,_,
7,cs-video-courses,List of Computer Science courses with video le...,76,
8,hackingtool,ALL IN ONE Hacking Tool For Hackers,_,Python 92.5% Shell 7.0% Dockerfile 0.5%
9,crux-top-lists,Downloadable snapshots of the Chrome Top Milli...,_,Python 100.0%
10,termux-packages,A build system and primary set of packages for...,_,Shell 70.3% C 18.4% Lua 3.8% C++ 3.6% CMake 1....
11,GCPSketchnote,If you are looking to become a Google Cloud En...,2,
12,hyper,A terminal built on web technologies,274,TypeScript 98.1%
13,alist,🗂️A file list program that supports multiple s...,_,Go 99.5%
14,imgui,Dear ImGui: Bloat-free Graphical User interfac...,314,C++ 87.9% C 10.1% Objective-C++ 1.8% Objective...
15,cal.com,Scheduling infrastructure for absolutely every...,_,TypeScript 96.6% JavaScript 1.1% HTML 1.1% CSS...
16,polars,"Fast multi-threaded, hybrid-streaming DataFram...",368,Rust 70.3% Python 29.6%
17,docs,The open-source repo for docs.github.com,_,JavaScript 71.4% TypeScript 26.0% SCSS 1.1%
18,gpt_index,An index created by GPT to organize external i...,8,Python 95.7% Jupyter Notebook 4.3%
19,OpenBBTerminal,"Investment Research for Everyone, Anywhere.",158,Python 100.0%
20,docker-minecraft-server,Docker image that provides a Minecraft Server ...,_,Shell 97.7% Dockerfile 2.3%
21,zustand,🐻 Bear necessities for state management in React,62.2k,TypeScript 97.5% JavaScript 2.5%
22,osv-scanner,Vulnerability scanner written in Go which uses...,15,Go 99.5%
23,Swiftfin,Native Jellyfin Client for iOS and tvOS,_,Swift 100.0%
24,joplin,Joplin - an open source note taking and to-do ...,513,TypeScript 60.6% JavaScript 33.5% HTML 1.8% CS...

In [203]:
driver.close()

# Program6
Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [204]:
#Accessing the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [205]:
#Opening the desired page
driver.get("https://www.billboard.com/")

In [206]:
#opening the chart tab
chart_tag=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [207]:
#Clicking on view chart
view_tag=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-background-color-brand-secondary-dark lrv-u-color-grey-lightest lrv-u-color-grey-lightest:hover lrv-u-width-100p lrv-u-text-align-center lrv-a-hover-effect lrv-u-background-color-grey-dark:hover a-font-accent-fancy lrv-u-font-size-20 u-padding-tb-15 u-letter-spacing-0112 lrv-a-icon-after a-icon-magazine lrv-u-justify-content-center lrv-u-align-items-center lrv-a-unstyle-link u-width-100p@tablet u-width-235@mobile-max lrv-u-margin-t-050@mobile-max u-background-color-white@mobile-max u-color-black@mobile-max lrv-u-border-a-1@mobile-max lrv-u-border-color-brand-accent-red u-line-height-1"]').click()

In [218]:
#Creating the attribute list
song=[]
artist=[]
lweek_rank=[]
peak=[]
weeks=[]

# Scrapping info for song
try:
    song_tag=driver.find_element(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
    song.append(song_tag.text)
except NoSuchElementException:
    song.append('-')
try:
    song1_tag=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in song1_tag:
        song.append(i.text)
except NoSuchElementException:
    song.append('-')
    
# Scrapping info for artist
try:
    artist_tag=driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    artist.append(artist_tag.text)
except NoSuchElementException:
    artist.append('-')
try:
    artist1_tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist1_tag:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')

try:
    lweek1_tag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
    for i in lweek1_tag:
        lweek_rank.append(i.text)
except NoSuchElementException:
    lweek_rank.append('-')

# Scrapping info for Peak Position

try:
    peak1_tag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
    for i in peak1_tag:
        peak.append(i.text)
except NoSuchElementException:
    peak.append('-')
                              
try:
    week1_tag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
    for i in week1_tag:
        weeks.append(i.text)
except NoSuchElementException:
    weeks.append('-')

In [219]:
print(len(song),len(artist),len(lweek_rank),len(peak),len(weeks))

100 100 100 100 100

In [220]:
#creating data frame
df6=pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':lweek_rank,'Peak Rank':peak,'Weeks on Board':weeks})
print("Details of top 100 songs on billiboard.com")
df6

Details of top 100 songs on billiboard.com

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

In [221]:
driver.close()

# Program7
Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:A) Name B) Designation C) Company D) Skills they hire for E) Location

In [222]:
#Accessing the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [223]:
#Opening the desired page
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [224]:
#providing designation
designation=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
designation.send_keys("Data Analyst")

In [225]:
#Start searching
search=driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
search.click()

In [226]:
#Creating the attribute list
name7=[]
designation=[]
company=[]
skills=[]
location=[]

# Scrapping info for name
try:
    name7_tag=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in name7_tag:
        name7.append(i.text)
except NoSuchElementException:
    name7.append('-')

# Scrapping info for designation
try:
    desg_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in desg_tag:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('-')

# Scrapping info for company
try:
    comp_tag=driver.find_elements(By.XPATH,'//a[2][@class="ellipsis"]')
    for i in comp_tag:
        company.append(i.text)
except NoSuchElementException:
    company.append('-')

# Scrapping info for sills
try:
    skill_tag=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skill_tag:
        skills.append(i.text)
except NoSuchElementException:
    skills.append('-')  
    
# Scrapping info for location
try:
    locn_tag=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
    for i in locn_tag:
        location.append(i.text)
except NoSuchElementException:
    location.append('-')

In [227]:
print(len(name7),len(designation),len(company),len(skills),len(location))

50 50 50 50 50

In [228]:
#Creating Data Frame
df7=pd.DataFrame({'Name':name7,'Designation':designation,'Company':company,'Skills they hire for':skills,'Location':location})
print("Data science recruiters from naukri.com.")
df7

Data science recruiters from naukri.com.

,Name,Designation,Company,Skills they hire for,Location
0,HR,HR,Sun Data Tech,"Us English Language, Msexcel Advanced",Coimbatore
1,Ankur Agarwal,Resource Management,Tech Mahindra Limited,"SAP, Permissions, Designer, Marketing, Manufac...",Hyderabad / Secunderabad
2,victorious javin,Owner of the company,Mr. Praveen Sharma,"Excel, Word, Powerpoint, Data Management, Data...",Gurgaon
3,Phanindra,Company Recruiter,DeNovo Systems,Data Management,Warangal
4,LOKAMBA T H,Senior Data Analyst,gutsy innovation,"Advanced Excel, Vba, Sql, Mis Reporting, Dashb...",Bengaluru / Bangalore
5,Jose K Kurian,Company Recruiter,International Federation of Anti-Leprosy,"Data Collection, Data Interpretation, Results ...",Gurgaon
6,Manisha Sahu,Senior HR Associate,JoulestoWatts Business Solutions Pvt.Ltd.,"Investment Banking, Technical Support, Bpo, Kp...",Bengaluru / Bangalore
7,Aamir Mian,Company Recruiter,Cognizant Technology Solutions India Ltd,Not Specified,Mumbai
8,Rohini Rajamani,HR Lead,Sris Data Intelligence Solutions Pvt. Ltd.,"BI and BA, HANA, BW, BO, Design Analytics, CMC...",Bengaluru / Bangalore
9,Nova Maria Devasia,HR Executive,OSLabs Technology (India) Pvt. Ltd.,"Android, Java, Linux Kernel, Data Analyst",Mumbai
10,srinivasan singh,Hiring Manager,Kamlax Global Technologies,"Data Analyst, Ibm Infosphere, Erwin, Oracle Ed...",Chennai
11,Karthik,HR Recruiter,Athena Health Technology pvt ltd,"Java, C, C++, Manual Testing, Automation Tetsi...",Chennai
12,Sandhya,Consultant Recruitment,RightMinds Consulting,"Data Analyst, Principal Engineer, senior data ...",Pune
13,J LAWRENCE SUJITH,Manager Recruitment,ATTOLLO MANAGEMENT SOLUTIONS,Our trustable companies,Chennai
14,Yogini Sathe,Co Founder,CloudRight Technologies Pvt Ltd,"Data Analyst, Data Engineer, Gcp, Devops",Pune
15,Eminent,HR/Admin,Eminent Systems,"Client Relationship, Technical Sales, Digital ...",Noida
16,Ankur Dagar,Talent Aquisition Specialist,Ankur Dagar,"Analyst, Security Engineer, System Admin, Data...",Noida
17,Karthick Guruswamy,Senior Consultant,Planman HR,"Business Development, Business Analyst, Direct...",Chennai
18,Dileep,HR Manager,Ringz Info Solutions Pvt Ltd,"Opportunities for freshers., Jr. Data Analyst",Trivandrum
19,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
20,Hr Manager,Hr Manager,Delta Endure Technologies,"Microsoft Word, Microsoft Excel, Search Engine...",Delhi
21,Rekha Singh,Recruitment Consultant,Independent Freelancer,"Information Technology, Software Development, ...",Bengaluru / Bangalore
22,SG,Sr. HR Executive - Recruitment,Raqmiyat IT Pvt Ltd,"Java, J2ee, .net c# asp.net sql server, oracle...",Chennai
23,Monika Khare,Company Recruiter,OPK e Services Pvt Ltd,"Data Integration, System Analysis, Data Manage...",Gurgaon
24,Ramesh Chary Arravalli,Senior HR Executive,Data Marshall Private Limited,"Ar Calling, Claims Adjudication, Process Assoc...",Hyderabad / Secunderabad
25,Blueberry Digital Labs,HR,Blueberry Digital Labs,"Node.js, Html, Css, Nosql, Web Designing, Web ...",Hyderabad / Secunderabad
26,Abhinav Shrivastava,Business Head,BootStaff India Pvt Ltd,"Data Analytics, Data Analysis, Sales Operation...",Indore
27,Durga Devi B,HR Generalist Assistant,Rplusanalytics,"Software Development, Data Analytics",Bengaluru / Bangalore
28,RIBBUN SOFTWARE PVT LTD,Administration Executive,Ribbun Softwares,"Internet Surfing, Data Updation, Data Monitori...",Jaipur
29,Michael Anderson,Director of Recruiting,QuantSys,"Data Analytics, Product Management, Digital Ma...",US - (Miami Florida)
30,Jayashree,HR Manager,Digipact,Data Analysis,Hosur
31,Shashikant Sethy,Head Operations,HR.com,Not Specified,Bengaluru / Bangalore
32,Parthasarathy,Business Head,Cadtrans,"Excel, Word, Internet, English Typing",Bengaluru / Bangalore
33,Krishna Sain,Company Recruiter,Inference Labs Private Limited,"Data Science, Big Data, Big Data Analytics",Bengaluru / Bangalore
34,Venkat Ragavan,Director,Talwin HR Solutions Private Limited,Not Specified,Bengaluru / Bangalore
35,Arati Kumari,HR Executive,Machwan communication &amp; Research Pvt....,"Prospect Profiling, Inside Sales, Market Resea...",Delhi
36,Anil Jaitly,VP Technology,KanchanSobha Finance Pvt. Ltd.,Not Specified,Mumbai
37,Vaidehi,Talent Acquisition Strategist,HR Freelancer Services,"HR Consulting firms, BIG4, Top CA Consulting f...",Hyderabad / Secunderabad
38,Hephzibah Joy,Research Associate,Green Tree Advisory Services Pvt. Ltd,"finance, Technical Support, functional, fintec...",Gurgaon
39,Pramod,Senior Design Engineer,Techno Design,Not Specified,Delhi
40,Naresh,Data Analyst,Shine Solutions,Not Specified,Hyderabad / Secunderabad
41,Akshita Gujral,Data Analyst,Info Edge,Not Specified,Noida
42,IMROZ KHAN,Recruitment Specialist,"Citi Corp, Pune.","Data Analyst, Research Writer, Content Managem...",Pune
43,Naqi Abbas,Director,ENABLE CAREERS,"Medical Sales, Brand Management, Telesales, Ma...",Hyderabad / Secunderabad
44,Vandhana N,Talent Search Specialist,Roland &amp; Associates,"Analytics, BI, Datawarehousing, Big Data, Hado...",Bengaluru / Bangalore
45,Vishakh A,Talent Acquisition Specialist,Data Semantics,"Data Engineering, Big Data, java, Ui Developme...",Bengaluru / Bangalore
46,Swati Balaji,Human Resources Recruiter,e3Consultants,"Good Coomunication, Self Correspondence, Short...",Chennai
47,Bandita Sahoo,Director,Found Gate Consultancy,"Stock Broking, Client Acquisition, dealing, Co...",Visakhapatnam
48,HR,Company Recruiter,Aksentt Tech Services Limited,"Software, Telecommunication, Data Entry, Pmo, ...",Mumbai
49,Bandita Sahoo,Recruiter,Found Gate Consultancy Pvt ltd,"Equity Dealer, Wealth Manager, Relationship Ma...",Visakhapatnam

In [229]:
driver.close()

# Program8
Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [230]:
#Accessing the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [231]:
#Opening the desired page
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [232]:
#Opening the list
li_tag=driver.find_element(By.XPATH,'//a[@href="#list"]').click()

In [233]:
#Creating the attribute list
book=[]
author=[]
volumes=[]
publisher=[] 
genre=[]

# Scrapping info for book
try:
    book_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book_tag:
        book.append(i.text)
except NoSuchElementException:
    book.append('-')

# Scrapping info for author
try:
    author_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tag:
        author.append(i.text)
except NoSuchElementException:
    author.append('-')

# Scrapping info for volumes sold
try:
    vol_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in vol_tag:
        volumes.append(i.text)
except NoSuchElementException:
    volumes.append('-')
    
# Scrapping info for publisher
try:
    pub_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in pub_tag:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')
    
# Scrapping info for genre
try:
    genre_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tag:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

In [234]:
print(len(book),len(author),len(volumes),len(publisher),len(genre))

100 100 100 100 100

In [235]:
#Creating Data Frame
df8=pd.DataFrame({'Book Name':book,'Author Name':author,'Volumes Sold':volumes,'Publisher':publisher,'Genre':genre})
print("Details of Highest selling novels")
df8

Details of Highest selling novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [236]:
driver.close()

# Program9
Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [237]:
#Accessing the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [238]:
#Opening the desired page
driver.get("https://www.imdb.com/list/ls095964455/")

In [239]:
#Creating the attribute list
name9=[]
year9=[]
genre9=[]
time9=[] 
rating9=[]
votes9=[]

# Scrapping info for Series Name
try:
    name9_tag=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name9_tag:
        name9.append(i.text)
except NoSuchElementException:
    name9.append('-')

# Scrapping info for year 
try:
    year9_tag=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for i in year9_tag:
        year9.append(i.text)
except NoSuchElementException:
    year9.append('-')  

# Scrapping info for genre 
try:
    genre9_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre9_tag:
        genre9.append(i.text)
except NoSuchElementException:
    genre9.append('-')  
 
#Scrapping info for time
try:
    time9_tag=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in time9_tag:
        time9.append(i.text)
except NoSuchElementException:
    time9.append('-')

# Scrapping info for ratings print(len(name9),len(year9),len(genre9),len(time9),len(rating9),len(votes9))
try:
    rate9_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in rate9_tag:
        rating9.append(i.text)
except NoSuchElementException:
    rating9.append('-') 

# Scrapping info for votes 
try:
    vote9_tag=driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in vote9_tag:
        votes9.append(i.text)
except NoSuchElementException:
    votes9.append('-')  
    
#/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[1]/div[2]/div[1]/div[1]/span[2]

In [240]:
print(len(name9),len(year9),len(genre9),len(time9),len(rating9),len(votes9))

100 100 100 100 100 100

In [241]:
#Creating Data Frame
df9=pd.DataFrame({'Series Name':name9,'Year Span':year9,'Genre':genre9,'Run Time':time9,'Ratings':rating9,'Votes':votes9})
print("Details of most watched tv series of all time from imdb.com")
df9

Details of most watched tv series of all time from imdb.com

,Series Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,101,013"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,191,390"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,592"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,353"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,463"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,393"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,023"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"200,067"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,724"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"247,156"

In [242]:
driver.close()

# Program10
Details of Datasets from UCI machine learning repositories. Ur = https://archive.ics.uci.edu/
You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [243]:
#Accessing the driver
driver=webdriver.Chrome(r"C:\Users\maahi\Downloads\chromedriver_win32\chromedriver.exe")

In [244]:
#Opening the desired page
driver.get("https://archive.ics.uci.edu/")

In [245]:
#Clicking on view-all-datasets
view_tab=driver.find_element(By.XPATH,'//a[@href="datasets.php"]').click()

In [246]:
#Creating the attribute list
dataset=[] 
dtype=[] 
task=[] 
attr_type=[] 
instances=[] 
attributes=[] 
year=[]

# Scrapping info for Dataset Name
try:
    datas_tag=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in datas_tag:
        dataset.append(i.text)
except NoSuchElementException:
    dataset.append('-')

# Scrapping info for Data Type
try:
    dtype_tag=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
    for i in dtype_tag:
        dtype.append(i.text)
except NoSuchElementException:
    dtype.append('-')

# Scrapping info for task
try:
    task_tag=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
    for i in task_tag:
        task.append(i.text)
except NoSuchElementException:
    task.append('-')

# Scrapping info for attribute_type
try:
    attr_tag=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
    for i in attr_tag:
        attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append('-')

# Scrapping info for instances
try:
    ins_tag=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
    for i in ins_tag:
        instances.append(i.text)
except NoSuchElementException:
    instances.append('-')

# Scrapping info for no. of attributes
try:
    nattr_tag=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
    for i in nattr_tag:
        attributes.append(i.text)
except NoSuchElementException:
    attributes.append('-')

# Scrapping info for year
try:
    year_tag=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
    for i in year_tag:
        year.append(i.text)
except NoSuchElementException:
    year.append('-')

In [247]:
print(len(dataset),len(dtype),len(task),len(attr_type),len(instances),len(attributes),len(year))

622 623 623 623 623 623 623

In [249]:
#Creating DataFrame
df10=pd.DataFrame({'Dataset Name':dataset,'Data Type':dtype[1:624],'Task':task[1:624],'Attribute Type':attr_type[1:624],'No of Instances':instances[1:624],'No of attribute':attributes[1:624],'Year':year[1:624]})
print("Details of Datasets from UCI Machine Learning Repositories")
df10

Details of Datasets from UCI Machine Learning Repositories

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [250]:
driver.close()